{% extends "skeleton.html" %}
{% block content %}

<span id="fontSizeTest"></span>

<div class="container">
    <div id="wordcloudTab"></div>
    <ol id="streamTest"></ol>
</div>

<script type="text/javascript">
function regexify(message) {
    // Remove @ users
    cleanMessage = message.replace(/@[a-zA-z0-9_]{3,24}(?=\s|$)/g, "");
    // Remove links
    cleanMessage = cleanMessage.replace(/(http|https):\/\/\S+/gi, "");
    // Remove special chars except ! because it is Twitch specific
    cleanMessage = cleanMessage.replace(/[^A-Za-z !]/g, "");
    // Remove words that aren't commands like !series. side effect of above regex.
    cleanMessage = cleanMessage.replace(/\w+!/g);
    // Remove stopwords
    cleanMessage = cleanMessage.replace(getStopWords(), "");
    return cleanMessage.toUpperCase().split(/ +/);
}

// On screen load
$(function() {
    var wordMap = {};

    // Events
    if (!!window.EventSource) {
        var eventSource = new EventSource("/");
        eventSource.onmessage = function(e) {
            var cleanMessage = regexify(e.data);
            for (i = 0; i < cleanMessage.length; i++) {
                var word = cleanMessage[i];
                if (word.length > 1) {
                    if (word in wordMap) {
                        var wordFrequency = wordMap[word];
                        wordMap[word] = wordFrequency + 1;
                    } else {
                        wordMap[word] = 1;
                    }
                 }
            }
        }

    }

    setInterval(function() {
        var sortedFrequencyList = buildFrequencyList(wordMap);
        $("#streamTest").empty();
        for (i = 0; i < sortedFrequencyList.length; i++) {
            var word = sortedFrequencyList[i];
            var newElement = "<li>" + word.text + " : " + word.size + "</li>";
            $("#streamTest").append(newElement);
        }
    }, 10000);   // 10 seconds

    ///////////////////////////////////////////////////////////
//     var sortedFrequencyList = buildFrequencyList(wordMap);
//
//     var cloudDiv = document.getElementById("wordcloudTab");
//     width = cloudDiv.clientWidth;
//     height = window.innerHeight * (3/4);    // 3/4 to move the cloud higher up on the screen
//
//     var wordVolume = calculateWordVolume(sortedFrequencyList, (width * height));
//
//     // TODO: investigate different fill scales, what does category20 mean?
//     var fill = d3.scale.category20();
//     // https://github.com/d3/d3-3.x-api-reference/blob/master/Quantitative-Scales.md
//
//     var scaleWord = d3.scale.linear()  // sqrt, linear, log, quantile, quantize.
//         .domain([sortedFrequencyList[sortedFrequencyList.length - 1].size, sortedFrequencyList[0].size])
//         .range([wordVolume.min, wordVolume.max]);
//
// //     var listString = "";
// //     for (i = 0; i < sortedFrequencyList.length; i++) {
// //         var word = sortedFrequencyList[i];
// //         listString += (word.text + ":" + word.size + ":" + scaleWord(word.size) + " ");
// //     }
// //     console.log(listString);
//
//     // cloudDiv.offsetHeight crashes d3.cloud, think it might be 0. shitty validation on their part.
//     var layout = d3.layout.cloud()
//         .size([width, height])
//         .words(sortedFrequencyList)
//         .rotate(0)
//         .fontSize(function(d) { return scaleWord(d.size); })
//         .spiral("rectangular")   // archimedean is default
//         .padding(2)              // default is 1
//         .on("end", draw);
//
//     layout.start();
//
//     function draw(words) {
//         d3.select("#wordcloudTab")
//             .append("svg")
//                 .attr("width", width)
//                 .attr("height", height)
//             .append("g")
//                 .attr("transform", "translate(" + [width >> 1, height >> 1] + ")")
//             .selectAll("text")
//                 .data(words)
//             .enter()
//             .append("text")
//                 .style("font-size", function(d) { return (d.size + "px"); })
//                 .style("fill", function(d, i) { return fill(i); })
//                 .attr("text-anchor", "middle")
//                 .attr("transform", function(d) {
//                     return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
//                 })
//                 .text(function(d) { return d.text; });
//     }
});

// Transform into the form that d3 cloud needs
function buildFrequencyList(wordMap) {
    var sortedFrequencyList = [];
    for (var word in wordMap) {
        var wordFrequency = wordMap[word];
        var wordFrequencyMap = {
            text: word,
            size: wordFrequency
        };

        // TODO: adjust this subjectively or sort and choose top X but which will be computationaly expensive
        // TODO: do this server side too once we get more data. send down less to the client. 50 words max?
        if (wordFrequency > 1) {
            binaryInsert(wordFrequencyMap, sortedFrequencyList);
        }
    }

    return sortedFrequencyList.slice(0, 50);
}
</script>

{% endblock %}
